:root{
    --fundo: #001F3F;
    --cor-text: #000000;
    --cor-frente-cartao: #ffffff;
    --cor-verso-cartao: #9e0000;
}

body{
    background-color: var(--fundo);
    margin: 0%;

}

header{
    background-color: var(--cor-verso-cartao);
    padding: 20px;
    display: flex;
    justify-content: space-around;
    
}

header a{
    color: var(--cor-text);
    text-decoration: none;

}

footer{
    background-color: var(--cor-frente-cartao);
    color:  var(--cor-verso-cartao);
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#container{
    display: grid;
    padding: 2rem;
    gap: 3rem;

}
.conteudo-cartao{
    background-color: var(--cor-frente-cartao);
    border: #001F3F;
    box-shadow: 5px 6px 20px var(--preto);
    padding: 20px;

}

.cartao-resposta{
    background-color: var(--cor-verso-cartao);
    margin-top: 5px;
    padding: 20px;
}