:root{
    --fundo: #16325B;
    --cor-text: #6EACDA;
    --cor-frente-cartão: #ffffff;
    --cor-verso-cartão: #181C14;
}

body{
    background-color: var(--fundo);
    margin: 0%;

}
footer{
    background-color: var(--cor-frente-cartão);
    color:  var(--cor-verso-cartão)
    position fixed;
    bottom: 0;
    width: 100%;
}