:root{
    --fundo: #16325B;
    --cor-text: #6EACDA;
    --cor-frente-cartao: #ffffff;
    --cor-verso-cartao: #181C14;
}

body{
    background-color: var(--fundo);
    margin: 0%;

}
footer{
    background-color: var(--cor-frente-cartao);
    color:  var(--cor-verso-cartao);
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#container{
    display: flex;
    flex-wrap: wrap;
    justify-tracks: space-between;
    padding: 4rem;
    gap: 3rem;
}

.cartao{
    margin: 1rem;
    height: 20rem;
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
}

.conteudo-cartao {
    background-color: var(--cor-frente-cartao);
    text-align: center;
    height:100% ;
    transform-style: preserve-3d;
    transition: transform 300ms ease-in-out;
}
.counteudo-cartao h3{
    color: var(--cor-text);
    border: 1px solid var(--cor-text);
    text-align: left;
    padding: 0.5rem;
    position: absolute;
    margin: 0.6rem;
    border-radius: 0.6rem;
    font-size: 1vw;
    backface-visibility: hidden;
}

.conteudo-cartao p {
    padding: 2rem;
    margin-top: 4rem;
    font-size: 1.4vw;
}

.conteudo-cartao p {
    color: var(--text-color);
    font-weight: 500;
}

.cartao-resposta p {
    color: var(--text-color);
    font-weight: 700;
}

.cartao.active .conteudo-cartao{
    transform: rotateY(180deg);
}

.cartao-pergunta,
.cartao-resposta{
    backface-visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.cartao-resposta{
    transform: rotateY(180deg);
    background-color: var(--cor-verso-cartao);
    border: 4px solid var(--cor-frente-cartao);
}