:root{
    --fundo: #16325B;
    --cor-text: #0B2F9F;
    --cor-frente-cart達o: #181C14;
    --cor-verso-cart達o: #181C14;
}

body{
    background-color: var(--fundo);
    margin: 0%;

}
footer{
    background-color: var(--cor-frente-cart達o);
    color:  var(--cor-verso-cart達o)
    position fixed;
    bottom: 0;
    width: 100%;
}